# Системные файлы
__pycache__/
*.pyc
*.pyo
.DS_Store

# Виртуальное окружение
venv/
.venv/

# Игнорировать файл с токенами
app/core/configurate.py
# Файлы конфигурации
.env
config.py

# Docker
docker-compose.override.yml
docker-compose.override.yaml

# IDE / текстовые редакторы
.vscode/
.idea/
*.swp
*.swo
*.sublime-project
*.sublime-workspace

# Прочее
*.log
*.pot
*.mo
*.pid
